
.contact-container {
    margin: auto;
    width: 100%;
}

.btn-calltoaction {
    border: 2px solid white;
    padding: 10px;
    margin: 2rem;
}

.cta-text {
    padding: 2rem;
    font-size: large;
}

a {
    text-decoration: none;
    color: white;
}

.contactbar{
    display: block;
}

.footer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.items {
    text-decoration: none;
    width: 5rem;
    height: 5rem;
}

ul {
    margin: 0; /* To remove default bottom margin */ 
    padding: 0rem;
}

li {
    padding: 2rem;
}

/* * {
    border: 1px solid red;
} */