body {
  margin: 0;
  height: 100vmax;
  text-align: center;
  color: whitesmoke;
  background: #000428;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #004e92, #000428);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #004e92, #000428); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  list-style-type: none;
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-bottom: 100px;
}

.gradientFont {
  background: linear-gradient(349deg, rgba(0,56,255,1) 0%, rgba(7,230,208,1) 100%);
  background-clip: text;
  color: transparent;

}

.gradientButton {
  background: linear-gradient(349deg, rgba(0,56,255,1) 0%, rgba(7,230,208,1) 100%);
  padding: 0.9em;
  border-radius: 10px;
}

.animated-btn {
  margin-top: 10px;
  margin-right: 7px;
  display: inline-block;
  padding: 10px;
  border: 2px solid white
}

/* .animated-btn::after {

} */